# Carpetas 
Cursos/
Papers/
Softtek/
WebScrapping/
Diplomado_IA/Módulo_VI/Stanford_Dogs/
Diplomado_IA/Módulo_XI/confusion_matrices/

# Carpetas de configuración de VS Code
.vscode/
.venv/
.venv_3.13/
.pytest_cache/

# Archivos de configuración de Windows
desktop.ini